<%
props_str = props.map { |k, v| "#{k.to_s}=\"#{v}\"".html_safe }.join("\n\s\s")
app_endpoint = "//#{request.host_with_port}/lookbook"
%>
<div class="block w-full p-6 bg-gray-100 rounded-md">
  <h2 class="mb-6 text-lg font-bold rounded-md inline-flex items-center space-x-2">
    <span><%= emoji %></span>
    <span><%= name %></span>
  </h2>

  <div class="">
    <lookbook-embed
      app="<%= app_endpoint %>"
      <%== props_str %>>
    </lookbook-embed>
  </div>

  <details class="mt-6">
    <summary class="text-base">Show code</summary>
<%= code class:"mt-2" do %>
<lookbook-embed
  app="<%= app_endpoint %>"
  <%== props_str %>>
</lookbook-embed>
<% end %>
  </details>
</div>